/* DM Sans Font Family */
@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/dm-sans-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/dm-sans-medium.ttf') format('truetype');
}

@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/dm-sans-bold.ttf') format('truetype');
}

/* Figtree Font Family */
@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/fonts/figtree-300.ttf') format('truetype');
}

@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/figtree-400.ttf') format('truetype');
}

@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/figtree-500.ttf') format('truetype');
}

@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/figtree-600.ttf') format('truetype');
}

@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/figtree-700.ttf') format('truetype');
}

@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('/fonts/figtree-800.ttf') format('truetype');
}

@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('/fonts/figtree-900.ttf') format('truetype');
}